# ==============================
# Build and Compilation
# ==============================
# Object files and dependencies
*.o
*.d
*.gch

# Libraries
*.a
*.so
*.so.*
*.dll
*.dylib

# Executables
*.out
*.exe
*.app
# IMPORTANT: Uncomment the line below and enter the name of your executable, 
# if you are compiling directly into the project root (e.g., game)
# game

# Build directories (it is recommended to build the project in these)
build/
bin/
obj/
out/
Release/
Debug/
resource/leaderboard.txt
endgame

# CMake files (if you use it for building)
CMakeCache.txt
CMakeFiles/
cmake-build-*/
cmake_install.cmake

# ==============================
# IDE and Code Editors
# ==============================
# VS Code
.vscode/

# CLion / IntelliJ
.idea/

# Vim / Neovim
*.swp
*.swo
*~

# Language Server Protocol (LSP) configuration files
.ccls-cache/
.clangd/
compile_commands.json

# ==============================
# Logs and Debugging
# ==============================
core
vgcore.*
*.log
*.crash
*.dSYM/

# ==============================
# System Files 
# (in case someone clones the project on Mac or Windows)
# ==============================
.DS_Store
Thumbs.db
